/* line 1, ../sass/base.scss */
body {
  width: 100%;
  height: 100%;
  background: black url("../img/bg.jpg") no-repeat;
}

@font-face {
  font-family: 'Hell';
  src: url("../fonts/helveticaneue-webfont.eot");
  src: url("../fonts/helveticaneue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-webfont.woff") format("woff"), url("../fonts/helveticaneue-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-webfont.svg#helveticaneuethin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../sass/base.scss */
#wrapper {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}

/* line 26, ../sass/base.scss */
footer {
  width: 100%;
  height: 200px;
}
/* line 29, ../sass/base.scss */
footer #footerContent {
  width: 1200px;
  margin: 0 auto;
}

/* line 37, ../sass/base.scss */
.sprite {
  background: url("../img/sprite.png") 0 0 no-repeat;
  display: block;
  width: 0px;
  height: 0px;
}

/* line 39, ../sass/base.scss */
#logo {
  background-position: 0px 0px;
  width: 207px;
  height: 202px;
  margin: auto;
}

/* line 43, ../sass/base.scss */
s
#registerHeader {
  background-position: 0px 0px;
  width: 207px;
  height: 202px;
  margin: auto;
}

/* line 47, ../sass/base.scss */
h2 {
  font-family: 'Hell';
  size: 26px;
  color: #fff;
  margin: auto;
}

/* line 54, ../sass/base.scss */
#textInput {
  background-image: url("../img/formBg.png");
  background-repeat: no-repeat;
  border: none;
  width: 296px;
  height: 62px;
}

/* line 1, ../sass/register.scss */
#registerWrapper {
  width: 370px;
  margin: 120px auto;
}
/* line 5, ../sass/register.scss */
#registerWrapper .rightShift {
  display: inline-block;
  width: 100%;
  text-align: right;
}
/* line 11, ../sass/register.scss */
#registerWrapper input[type="text"], #registerWrapper input[type="email"], #registerWrapper input[type="password"] {
  float: left;
  width: 350px;
  height: 40px;
  margin: 10px 0 0 0;
  background-color: rgba(61, 121, 151, 0.6);
  border: none;
  padding: 5px 10px;
}
/* line 20, ../sass/register.scss */
#registerWrapper input[type="submit"] {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgba(234, 87, 85, 0.6);
  margin: 10px 0 50px 120px;
}

/* line 1, ../sass/profile.scss */
#profileWrapper {
  width: 950px;
  height: auto;
}
/* line 6, ../sass/profile.scss */
#profileWrapper #navigation ul {
  margin: 0;
  padding: 0;
}
/* line 10, ../sass/profile.scss */
#profileWrapper #navigation ul li {
  float: left;
  height: 175px;
  width: 175px;
  background: #2c5a72;
  list-style: none;
  margin-left: 5px;
}
/* line 18, ../sass/profile.scss */
#profileWrapper #navigation ul li:first-child {
  margin-left: 0;
}
/* line 21, ../sass/profile.scss */
#profileWrapper #navigation ul .active {
  background: #ea5755;
}
/* line 26, ../sass/profile.scss */
#profileWrapper #profileContent {
  width: 950px;
  height: 400px;
  background: #2c5a72;
  float: left;
}
/* line 32, ../sass/profile.scss */
#profileWrapper #profileContent .content {
  display: none;
}
/* line 34, ../sass/profile.scss */
#profileWrapper #profileContent #profile {
  display: block;
}
/* line 38, ../sass/profile.scss */
#profileWrapper #profileContent #createContact .contactElem {
  width: 400px;
  float: left;
  border: 1px solid #fff;
}
