body{
	width:100%;
	height:100%;
	background:#274a5c;
}
#wrapper{
	width:1200px;
	margin:0 auto;
}

footer{
	width:100%;
	height:200px;
	#footerContent{
		width:1200px;
		margin:0 auto;
    }
}

@import 'register.scss';