body{
	width:100%;
	height:100%;
	background: #000 url('../img/bg.jpg') no-repeat;

}
#wrapper{
	width:1200px;
	margin:0 auto;
	clear:both;
}

footer{
	width:100%;
	height:200px;
	#footerContent{
		width:1200px;
		margin:0 auto;
    }
}

@import 'register.scss';
@import 'profile.scss';