#profileWrapper{

	width:950px;
	height:auto;
	position:relative;
	#navigation{

		ul{
			margin:0;
			padding:0;

			li{
				float:left;
				height:203px;
				width:175px;
				background:#2c5a72;
				list-style:none;
				margin-left:5px;
				background:url(../img/createContact.png);
			}
			li:first-child{
				margin-left:0;
			}
		}
	}
	#profileContent{
		width:950px;
		background:#2c5a72;
		float:left;

       

		#profile{
			display:block;
		}
		#createContact{
			p{color:#fff;}
			.contactElem{
				width:100%;
				float:left;
				
				input {
					width: 400px;
					height: 30px;
					padding: 5px 10px;
					margin-bottom: 10px;
				}
			}
		}
		#createContact {
			margin: 20px;
			
			p {
				font-size: 24px;
				font-family: 'hell';
			}
			
			#createContactButton {
				display: inline-block;
				width:100px;
				height: 40px;
				border: none;
				color:#fff;
				background-color: rgba(234, 87, 85, 0.6);
				padding: 5px 20px;
				text-decoration: none;
				line-height: 40px;
				font-family: 'hell';
			}
		}
	}
}