#registerWrapper{
	width:370px;
	margin:120px auto;
	input[type="text"],input[type="email"],input[type="password"]{
		float:left;
		width:350px;
		margin:10px 0 0 0;
	}
	input[type="submit"]{
		width:100px;
		color:fff;
		background:orange;
		margin: 30px 0 50px 120px;

	}
}
